@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.905);
    color: #FFF;
    width: 100%;
    height: 40px;    
    text-align: center;
    line-height: 40px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 750px) {
    footer {
        font-size: .8em;
    }
}

@media screen and (max-width: 550px) {
    footer {
        font-size: .5em;
    }
}